@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
 }

@font-face {
  font-family: 'Roboto Slab';
  src: url("assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

/* Global Style */

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab';
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;
  margin: auto;

  box-shadow: 3px 5px 10px 10px rgba(190,190,190,0.5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

/*End of Global Style*/

/* Header Style */

header {
  min-height: 200px;
  flex: 1;
}

header .container {
  display: flex;
  flex-direction: row;
}

.header-image {
  flex: 1;
}

.header-image img {
  max-height: 300px;
  padding: 20px;
}

.header-info {
  color: #B0E099;
  flex: 2;
}

.header-name {
  font-size: 96px;
  font-weight: bold;
}

.header-skill {
  font-size: 48px;
  font-weight: lighter;
}

/*End of Header Style*/

/*Main Style*/

main {
  flex: 3;
}

main .container {
  display: flex;
  flex-direction: row;

  color: #B0E099;
}

.skills-block {
  display: flex;
  flex-direction: column;
  flex: 1;

  color: #676BC7; 
  width: 30%;
  background-color: #D9F0FA;
}

.main-info {
  display: flex;
  flex-direction: column; 
  flex: 2;

  padding-left: 10px;
}

.info-block * {
  padding-left: 35px;
  padding-top: 10px;
  font-size: 24px;
}

.info-block h2 {
  font-size: 36px;
  font-weight: bold;
}

.code {
  background-color: rgba(229, 229, 229, 0.5);
}

/*End of Main Style*/

/*Footer Style*/

footer {
  flex: 1;
  background-color: #B0E099;
  max-height: 100px;
}

footer .container {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.footer-logo img{
  height: 60px;
}

.gh-logo {
  display: flex;
  flex-direction: row;

  flex: 0;
  float: left;
  padding: 20px;
}

.gh-text {
  color: #FFFFFF;
  text-decoration: none;
  margin: auto;
  padding: 10px;
}

.rs-logo {
  flex: 0;
  float: center;
  padding-top: 20px;
}

.year {
  flex: 1;
  float: right;

  color: #FFFFFF;
  text-align: right;
  vertical-align: middle;
  padding: 10px;
  margin: auto;
}

/*End of Footer Style*/